<a href="https://colab.research.google.com/github/chiragasawa/code_snippets/blob/master/ranklist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [145]:
import pandas
import numpy

In [147]:
# ju=pandas.read_csv("/content/sample_data/JU RankList.csv")
ju=pandas.read_excel("/content/JECRC Code Warriors 2.0 (Responses).xlsx")

# combineList=pandas.read_csv("/content/sample_data/combinedranklist.csv")
# jufinal=pandas.read_csv("/content/JUFinal.csv")
jufinal=pandas.read_csv("/content/ranklist.csv")

sirUserName=list(ju['CodeChef Username'])
resultEmail=[]
resultRollNo=[]

for i in jufinal['User handle']:
  if i.strip() in sirUserName:
    # df2=(combineList[combineList["User handle"]==i.strip()])
    # df2=(ju[ju['CodeChef Username']==i.strip()])
    # print(ju[ju['CodeChef Username']==i.strip()]["Registered Email Id"])
    # jufinal[jufinal['User handle']==i.strip()]["Email"]=(ju[ju['CodeChef Username']==i.strip()]["Registered Email Id"]).values[0]
    resultEmail.append((ju[ju['CodeChef Username']==i.strip()]["Registered Email Id"]).values[0])
    resultRollNo.append((ju[ju['CodeChef Username']==i.strip()]["University Roll No."]).values[0])
    
    # jufinal["Roll No"]=(ju[ju['CodeChef Username']==i.strip()]["University Roll No."])
  else:
    resultEmail.append("NaN")
    resultRollNo.append("NaN")
jufinal["Email"]=resultEmail
jufinal["Roll No"]=resultRollNo

#     print(i)
#     result.append(df2)
# final=pandas.concat(result)

# final

In [148]:
# jufinal["Email"]
# (ju[ju['CodeChef Username']=="rishabhjain18"]["Registered Email Id"]).values
jufinal.to_excel('finalCombine.xls')

In [83]:
juUserName=ju["User Name"]
combineListUserHandle=combineList["User handle"]
# for i,j in enumerate(combineListUserHandle):
#   combineListUserHandle[i]=j.strip()

list(combineListUserHandle).index("krishan_21")
# combineListUserHandle

170

In [87]:
result=[]
for i in juUserName:
  if i.strip() in list(combineListUserHandle):
    df2=(combineList[combineList["User handle"]==i.strip()])
    # print(df2)
    result.append(df2)
    # print((combineList[combineList["User handle"]==i.strip()]))
    # print(i)

In [ ]:
# result=combineList[combineList["User handle"]=="krishan_21"]
result

In [90]:
final=pandas.concat(result)

In [30]:
ju["User Name"][0]

' krishan_21 '

In [91]:
final.to_csv("JUFinal.csv")

In [78]:
result

    User handle  Solved count  Score  ... FTICTOE  ORPARTY CHOCBOX
170  krishan_21             3      3  ...   1-0-0    1-0-0   1-0-0

[1 rows x 18 columns]